{% extends 'common.html' %}
{% block sowmya %}
    {% include 'adminmainmenu.html' %}
<form action="{% url 'admin_cousre_reg' %}"method="post">
{% csrf_token %}
<table align="center" border="0">
    {% for x in messages %}
       <tr><th colspan="2" style="background-color:green;color:white;font-size: 35px;font-family: 'Agency FB';text-align: center">{{ x }}</th></tr>
    {% endfor %}
<tr>
    <th colspan="2" style="background-color:darkkhaki;font-size: 35px;font-family: 'Agency FB';text-align: center">Schedule a New Course</th>
</tr>
    <tr>
        <th>
            {{ form }}
        </th>
    </tr>
<tr>
    <th colspan="2"><button type="submit" class="btn btn-secondary btn-lg btn-block">Register</button></th>
</tr>
</table>
</form>

{% endblock %}
