{% extends 'common.html' %}
{% block sowmya %}
    {% include 'studentmainmenu.html' %}
     {% if not data %}
         No courses are enrolled
         {% else %}
         <table align="center" border="2">
         <tr><th colspan="7" style="font-size: 30px;background-color: burlywood;padding: 10px;text-align: center" >Viewall Enrolled Courses</th></tr>

          <tr style="font-family: 'Agency FB';font-size: 25px;background-color: forestgreen;text-align: center">
          <th scope="col">Name</th>
          <th scope="col">Faculty</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Fee</th>
          <th scope="col">Duration</th>
        </tr>
      <tbody>
      {% for x in data %}
        <tr>
          <th scope="row">{{ x.Coursename }}</th>
          <td>{{ x.Faculty }}</td>
          <td>{{ x.Date }}</td>
          <td>{{ x.Time }}</td>
          <td>{{ x.Fee }}</td>
          <td>{{ x.Duration }}</td>
        </tr>
         {% endfor %}
         </table>
    {% endif %}

{% endblock %}